.header {
  position: fixed;
  width: 100%;
  background-color: rgb(175, 0, 0);
  color: white;
  padding: 10px;
  height: fit-content;
}

#root {
  background-color: rgb(73, 73, 73);
  height: 100%;
}

.roll-button {
  background-color: rgb(175, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.roll-button:hover {
  background-color: rgb(185, 0, 0);
  cursor: pointer;
}
.selected-country {
  font-size: 30px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}